
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login inside the war</title>
</head>
<body>
    <div> 

        <h2>Joshi K
        </h2><p>kajal joshi is a good &amp; charming girl</p>
    </div>
</body>
</html>
